@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,700;1,300&display=swap");

html,
body {
	padding: 0;
	margin: 0;
	font-family: "Open Sans", sans-serif;
	font-size: 18px;
}

body[data-color-scheme="dark"] {
	color: white;
	color-scheme: dark;
	background: black;
	background-color: #000000;
	background-image: linear-gradient(147deg, #000000 0%, #434343 74%);
	transition: background 0.2s ease-in;
}

body[data-color-scheme="light"] {
	color: black;
	background-color: #b8c6db;
	background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
	transition: background 0.2s ease-in;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

header {
	width: 100%;
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	margin-bottom: 30px;
	@media (max-width: 768px) {
		justify-content: space-around;
	}
	h1 {
		@media (max-width: 768px) {
			font-size: 22px;
		}
	}
}

.input-wrapper {
	display: flex;
	gap: 1rem;
	align-items: center;
	margin-bottom: 1rem;
	label {
		width: 100px;
	}
	input,
	select {
		flex: 1;
		width: 100%;
		border: 1px solid #ccc;
		border-radius: 4px;
		padding: 0.5rem;
		font-size: 18px;
		&:focus {
			outline: none;
		}
	}
}

.contribute {
	text-align: center;
	.github-link {
		color: #4078c0;
	}
}
