html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
		Helvetica Neue, sans-serif;
	font-size: 18px;
}

body[data-color-scheme="dark"] {
	color: white;
	color-scheme: dark;
	background: black;
	transition: background 0.2s ease-in;
}

body[data-color-scheme="light"] {
	color: black;
	background: white;
	transition: background 0.2s ease-in;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

header {
	width: 100%;
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	h1 {
		justify-self: center;
	}
}

.input-wrapper {
	display: flex;
	gap: 1rem;
	align-items: center;
	margin-bottom: 1rem;
	label {
		width: 90px;
	}
	input,
	select {
		flex: 1;
		width: 100%;
		border: 1px solid #ccc;
		border-radius: 4px;
		padding: 0.5rem;
		font-size: 18px;
		&:focus {
			outline: none;
		}
	}
}
